<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

  <h2> <%=username%>'s Recipe Book </h2>
  <h4>
    View recipes for drinks you've saved, create recipe books
    for special occassions, and even update your current recipes based on personal taste!
  </h4>
  <!-- <form action="<%= '/newCocktailList' %>" method="get">
    <button type="submit">Create new Cocktail List</button>
  </form> -->
  <% cocktailArray.forEach(cocktail => { %>
  <ul>
    <img src=<%= cocktail.image_url %>>
    <h2><%= cocktail.title %></h2>
    <p hidden id="cocktail-db-id-number"><%= cocktail.id %></p>
    <h3>Ingredients: </h3>
    <p><%= cocktail.ingredients %></p>
    <h4>Instructions: </h4>
    <p><%= cocktail.instructions %></p>
  </ul>
  <form action="<%= '/delete/deletecocktail?_method=DELETE' %>" method="post">
    <input type="hidden" name="cocktail_id" value="<%= cocktail.id %>">
    <button type="submit">delete</button>
  </form>
  <% }) %>
</body>

</html>