<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body id="view-body">
    <main>
        <%- include('./partials/header') %>
        <ul>
            <br><br><h2 class="cocktailTitle"><%= cocktail.title %></h2>
            <img class="lineBreak" src="/pictures/line.png"><br><br>
            <img src=<%= cocktail.image_url %>><br><br>
            <p hidden id="cocktail-db-id-number"><%= cocktail.id %></p>
            <h3 class="ingredients">Ingredients: </h3><br>
            <% cocktail.ingredients.forEach(ingredient => { %>
                <ul class="ingredientList">
                  <p><%= ingredient %></p>
                </ul> 
              <% }) %>
            <br><h4 class="instructions">Instructions: </h4><br>

            <p><%= cocktail.instructions %></p>
        </ul>
        <div id="<%= cocktail.id %>">
            <form action='/insertcocktail' method='post' id=cocktail>
                <input type="hidden" name="id" value="<%= cocktail.id %>">
                <input type="hidden" name="title" value="<%= cocktail.title %>">
                <input type="hidden" name="image_url" value="<%= cocktail.image_url %>">
                <input type="hidden" name="instructions" value="<%= cocktail.instructions %>">
                <input type="hidden" name="ingredients" value="<%= cocktail.ingredients %>"> 
                <select class="drop-down" name="cocktailList">
                    <% cocktailLists.forEach(cocktailList => { %>
                    <option value="<%= cocktailList.list_name %>"><%= cocktailList.list_name %></option>
                    <% }) %>
                </select><br>
                <button class="small-button" type="submit">Save to recipe book</button>
                <br><br>
            </form>
        </div>
    </main>
</body>

</html>