<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <% arr.forEach(cocktail => { %>
    <ul>
        <img src=<%= cocktail.image_url %>>
        <h2><%= cocktail.title %></h2>
        <p hidden id="cocktail-db-id-number"><%= cocktail.id %></p>
    </ul>
    <form action="/view" method="post">
        <input type="hidden" name="search" value=<%= cocktail.name %> required>
        <button type="submit">View Recipe</button>
    </form>
    <% }) %>
</body>

</html>